<!--
<h1>
  {{title}}
</h1>
-->

<router-outlet></router-outlet>

<!--<h2 (click)="gotoPage('/home')">Home</h2>
<h2 (click)="gotoPage('/events')">Events</h2>
<h2 (click)="gotoPage('/workshops')">Workshops</h2>
<h2 (click)="gotoPage('/initiatives')">Initiatives</h2>
<h2 (click)="gotoPage('/xceed')">Xceed</h2>
<h2 (click)="gotoPage('/karnival')">Karnival</h2>
<h2 (click)="gotoPage('/login')">Login</h2>
<h2 (click)="gotoPage('/register')">Register</h2>
<h2 (click)="gotoPage('/profile')">Profile</h2>
<h2 (click)="gotoPage('/sponsors')">Sponsors</h2>
<h2 (click)="gotoPage('/gl')">GL</h2>-->
