<div id="scene">
  <div data-depth="0.2" style="margin: -10vh 0 0 -10vw; height: 120vh; width: 120vw;
   background-image: url('../../assets/images/earth.png'); background-size: 100% 100%">
  </div>
  <!--<div data-depth="0.60" style="margin:20vh 0 0 40vw; height: 20vh; width: 10vw;
  background-image: url('../assets/satellite.png'); background-size: 100% 100%">
  </div>-->
  <img id="asteroid" data-depth="0.40" style="margin: -30vh 0 0 3vw" src="../../assets/images/sample/asteroids.png">
  <img id="planet" data-depth="0.50" style="margin: -30vh 0 0 120vw"  src="../../assets/images/sample/planet1.png">
  <div id="krk" data-depth="0" style="margin: 140vh 0 0 30vw; font-size: 5em; color: orange">Kurukshetra</div>
  <img id="ship" data-depth="1.00" style="margin: 150vh 0 0 20vw; height: 50%; width: 50%" src="../../assets/images/sample/ship.png">

</div>
